<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/aos.js"></script>
<script type="text/javascript">
var nav = $('.sidebar__right');
$(window).scroll(function () {
    if ($(this).scrollTop() > 136) {
        nav.addClass("f-nav");
    } else {
        nav.removeClass("f-nav");
    }
});
(function ($) {
    $(document).ready(function () {
        $('#cssmenu').prepend('<div id="menu-button">Menu</div>');
        $('#cssmenu #menu-button').on('click', function () {
            var menu = $(this).next('ul');
            if (menu.hasClass('open')) {
                menu.removeClass('open');
            }
            else {
                menu.addClass('open');
            }
        });
    });
})(jQuery);
function showMenu(o) {

$(o).nextUntil(".nav__sub-title").toggle();

}
$(".nav__sub-title").click(function () {
    $(this).toggleClass("sidebaractive");
});
AOS.init({
    easing: 'ease-in-out-sine'
}); 
</script>