<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/aos.js"></script>
<script type="text/javascript">
    var nav = $('.sidebar__right');
    var lastId;
    var tocMenu = $(".toc__menu");

    // All list items
    var menuItems = tocMenu.find("a");
    // Anchors corresponding to menu items
    var scrollItems = menuItems.map(function () {
        var item = $($(this).attr("href"));
        if (item.length) { return item; }
    });

    $(window).scroll(function () {
        // Get container scroll position
        var fromTop = $(this).scrollTop();

        if (fromTop > 136) {
            nav.addClass("f-nav");
        } else {
            nav.removeClass("f-nav");
        } 
        // Get id of current scroll item
        var cur = scrollItems.map(function () {
            if ($(this).offset().top < fromTop)
                return this;
        });
        // Get the id of the current element
        cur = cur[cur.length - 1];
        var id = cur && cur.length ? cur[0].id : "";

        if (lastId !== id) {
            lastId = id;
            // Set/remove active class
            menuItems
              .removeClass("active")
              .end()
              .filter("[href='" + location.href.replace(location.hash, "") + "#" + id + "']")
              .addClass("active");
        }

    });

    $(document).ready(function () {
        
        $('#cssmenu').prepend('<div id="menu-button">Menu</div>');
        $('#cssmenu #menu-button').on('click', function () {
            debugger;
            var menu = $(this).next('ul');
            if (menu.hasClass('open')) {
                menu.removeClass('open');
            }
            else {
                menu.addClass('open');
            }
        });
    });
    function showMenu(o) {

        $(o).nextUntil(".nav__sub-title").slideToggle();

    }
    $(".nav__sub-title").click(function () {
        $(this).toggleClass("sidebaractive");
    });
    AOS.init({
        easing: 'ease-in-out-sine'
    });
</script>