<!-- start custom head snippets -->
<!-- insert favicons. use http://realfavicongenerator.net/ -->
<!-- end custom head snippets -->
<link type="text/css" rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/aos.css" />
<link type="text/css" rel="stylesheet" href="/assets/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/assets/js/plugins/jstree/dist/themes/default-dark/style.min.css"/>
<link type="text/css" rel="stylesheet" href="/assets/js/plugins/jstree/dist/themes/default/style.min.css" />