<div class="learningTrailsBottomPan">
    <div class="learningTrailsBottomInn">
        <h3>Learning Trails</h3>
        <p>Start your learning adventure with APPSeCONNECT.</p>
        <ul>
            <li>
                <div class="learningWhiteBox">
                    <img src="../assets/images/AEC-Development-Process.png" />
                    <h4>AEC Development Process</h4>
                    <p>This course will guide partners and  developers about the APPSeCONNECT development process.</p>
                    <a href="#" title="Get Started">Get Started</a>
                </div>
            </li>
            <li>
                <div class="learningWhiteBox">
                    <img src="../assets/images/AEC-Coding-Guidelines.png" />
                    <h4>AEC Coding Guidelines</h4>
                    <p>Learn how to improvise your coding style and know more about the standard APPSeCONNECT coding guidelines.</p>
                    <a href="#" title="Get Started">Get Started</a>
                </div>
            </li>
            <li>
                <div class="learningWhiteBox">
                    <img src="../assets/images/AEC-Code-Review.png" />
                    <h4>AEC Code Review</h4>
                    <p>Learn how to enhance the quality of source codes for a software and the techniques which every developer will find invaluable. </p>
                    <a href="#" title="Get Started">Get Started</a>
                </div>
            </li>
            <li>
                <div class="learningWhiteBox">
                    <img src="../assets/images/SAP-SL-and-Magento-Integration.png" />
                    <h4>SAP SL and Magento Integration</h4>
                    <p>Step-by-step guide to help you through the process of SAP SL with Magento Integration.</p>
                    <a href="#" title="Get Started">Get Started</a>
                </div>
            </li>
            <li>
                <div class="learningWhiteBox">
                    <img src="../assets/images/SAP-B1-with-HANA(DIS)-and-Shopify-Integration.png" />
                    <h4>SAP B1 with HANA(DIS) and Shopify Integration</h4>
                    <p>Learn about the process of SAP integration with Shopify and detailed info about HANA or SQL databases.</p>
                    <a href="#" title="Get Started">Get Started</a>
                </div>
            </li>
            <li>
                <div class="learningWhiteBox">
                    <img src="../assets/images/Workflow-Management.png" />
                    <h4>Workflow Management - Part 1</h4>
                    <p>Guided course on how to design and manage workflows from the cloud.</p>
                    <a href="#" title="Get Started">Get Started</a>
                </div>
            </li>
        </ul>
    </div>
</div>