<div class="learningtrailpan">
    <div class="learningtrailInn">
        <div class="learningtrailLeft">
            <h3>Start a Learning Trail</h3>
            <p>Up your Knowledge with a learning path tailored to today's developer and technology masterminds and designed to prepare you for industry-recognized <a href="#" title="APPSeCONNECT Certifications">APPSeCONNECT Certifications</a>.</p>
        </div>
        <div class="learningtrailRight">
            <h5>Choose your Role</h5>
            <ul>
                <li><a href="http://learning.appseconnect.com/login/" title="Developer"><img src="../assets/images/developer-img.png" /><span>Developer</span></a></li>
                <li><a href="http://learning.appseconnect.com/login/" title="Implementor"><img src="../assets/images/implementer-img.png" /><span>Implementor</span></a></li>
                <li><a href="http://learning.appseconnect.com/login/" title="Business User"><img src="../assets/images/business-user-img.png" /><span>Business User</span></a></li>
            </ul>
        </div>
    </div>
</div>

