{% if menu %}
<ul class="nav__items">
    {% for item in menu | sort:"weight" %}
    {% if item.icon %}
    {% assign icon = item.icon %}
    {% else %}
    {% assign icon = "" %}
    {% endif %}
    <li class="menu-item-{{ loop.index }}" data-url="{{ item.url }}" data-jstree='{"icon":"{{icon}}"}'>
        <a href="{{ item.url }}" onclick="selectTab('{{ item.url }}', event);" title="Go to {{ item.title }}">{{ item.title }}</a>
        {% if item.children %}
        {% assign menu = item.children %}
        {% include menus.html %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}