{% if page.header.image contains "://" %}
  {% capture img_path %}{{ page.header.image }}{% endcapture %}
{% else %}
  {% capture img_path %}{{ page.header.image | absolute_url }}{% endcapture %}
{% endif %}

{% if page.header.cta_url contains "://" %}
  {% capture cta_path %}{{ page.header.cta_url }}{% endcapture %}
{% else %}
  {% capture cta_path %}{{ page.header.cta_url | absolute_url }}{% endcapture %}
{% endif %}

{% if page.header.overlay_image contains "://" %}
  {% capture overlay_img_path %}{{ page.header.overlay_image }}{% endcapture %}
{% elsif page.header.overlay_image %}
  {% capture overlay_img_path %}{{ page.header.overlay_image | absolute_url }}{% endcapture %}
{% endif %}

{% if page.header.overlay_filter contains "rgba" %}
  {% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
{% elsif page.header.overlay_filter %}
  {% capture overlay_filter %}rgba(0, 0, 0, {{ page.header.overlay_filter }}){% endcapture %}
{% endif %}

{% if page.header.image_description %}
  {% assign image_description = page.header.image_description %}
{% else %}
  {% assign image_description = page.title %}
{% endif %}

{% assign image_description = image_description | markdownify | strip_html | strip_newlines | escape_once %}

<div class="page__hero{% if page.header.overlay_color or page.header.overlay_image %}--overlay{% endif %}"
  style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %} {% if overlay_img_path %}background-image: {% if overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}), {% endif %}url('{{ overlay_img_path }}');{% endif %}"
>
  {% if page.header.overlay_color or page.header.overlay_image %}
    <div class="wrapper">
      <h1 class="page__title" itemprop="headline">
        {% if paginator and site.paginate_show_page_num %}
          {{ site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
        {% else %}
          {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
        {% endif %}
      </h1>
      {% if page.excerpt %}
        <p class="page__lead">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}
      {% if site.read_time and page.read_time %}
        <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
      {% endif %}
      {% if page.header.cta_url %}
        <p><a href="{{ cta_path }}" class="btn btn--light-outline btn--large">{{ page.header.cta_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
      {% endif %}
    </div>
  {% else %}
    <img src="{{ img_path }}" alt="{{ image_description }}" class="page__hero-image">
  {% endif %}
  {% if page.header.caption %}
    <span class="page__hero-caption">{{ page.header.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
  {% endif %}
</div>
<div class="headerPan">
    <div class="headerInn">
        <a href="#" title="" class="logo"><img src="images/logo.png" alt=""></a>
        <ul class="headerRight">
            <li><a href="#" title=""><i class="fa fa-question"></i> FAQ</a></li>
            <li><a href="#" title=""><i class="fa fa-pencil-square-o"></i> Blog</a></li>
            <li><a href="#" title=""><i class="fa fa-mobile"></i> E-Books</a></li>
        </ul>
    </div>
</div>
<!-- End : header -->
<!-- Start : Nav -->
<div class="nav">
    <div class="navInn">
        <div id='cssmenu'>
            <ul>
                <li class="active"><a href='#'><span>Home</span></a></li>
                <li><a href='#'><span>Customers</span></a></li>
                <li><a href='#'><span>Developers</span></a></li>
                <li><a href='#'><span>Implementers</span></a></li>
                <li><a href='#'><span>Reseller</span></a></li>
                <li><a href='#'><span>Courses</span></a></li>
                <li class="last"><a href='#'><span>Video</span></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- End : Nav -->
<div class="bannerPan"><img src="images/banner-img.png" alt=""></div>
<div id="main" role="main">
    <!-- Start : Are you a -->
    <div class="block4Pan">
        <h2 class="aos-item" data-aos="fade-down" data-aos-duration="800"><span>Are you a</span></h2>
        <div class="block4Inn aos-item" data-aos="fade-up" data-aos-duration="1000">
            <div class="block4Box">
                <img alt="" src="images/customer-2.png">
                <h3>Customers</h3>
                <p>Learn how to use APPSeCONNECT</p>
                <a href="#" title="Learn More">Learn More</a>
            </div>
        </div>
        <div class="block4Inn aos-item" data-aos="fade-up" data-aos-duration="1000">
            <div class="block4Box">
                <img alt="" src="images/Developer-2.png">
                <h3>Developers</h3>
                <p>Learn how to create a adapter from scratch using APPSeCONNECT.</p>
                <a href="#" title="Learn More">Learn More</a>
            </div>
        </div>
        <div class="block4Inn aos-item" data-aos="fade-up" data-aos-duration="1000">
            <div class="block4Box">
                <img alt="" src="images/Implementer-2.png">
                <h3>Implementers</h3>
                <p>Learn how to configure and implement APPSeCONNECT.</p>
                <a href="#" title="Learn More">Learn More</a>
            </div>
        </div>
        <div class="block4Inn aos-item" data-aos="fade-up" data-aos-duration="1000">
            <div class="block4Box">
                <img alt="" src="images/reseller-2.png">
                <h3>Reseller</h3>
                <p>Learn how to use APPSeCONNECT</p>
                <a href="#" title="Learn More">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- End : Are you a -->
<!-- Start : Video -->
<div class="videoPan">
    <div id="main" role="main">
        <h2 class="aos-item" data-aos="fade-left"><span>Videos</span></h2>
        <ul>
            <li class="aos-item" data-aos="flip-left" data-aos-duration="800"><img src="images/video-thumb.png" alt=""></li>
            <li class="aos-item" data-aos="flip-left" data-aos-duration="800"><img src="images/video-thumb.png" alt=""></li>
            <li class="aos-item" data-aos="flip-left" data-aos-duration="800"><img src="images/video-thumb.png" alt=""></li>
            <li class="aos-item" data-aos="flip-left" data-aos-duration="800"><img src="images/video-thumb.png" alt=""></li>
        </ul>
        <a href="#" title="More" class="videoBtn aos-item" data-aos="fade-up">More &raquo;</a>
    </div>
</div>
<!-- End : Video -->
<!-- Start : Courses -->
<div class="coursesPan">
    <div id="main" role="main">
        <h2 class="aos-item" data-aos="fade-right"><span>Courses</span></h2>
        <ul>
            <li class="aos-item" data-aos="flip-down" data-aos-duration="800"><img src="images/Facilitation-Guide-icon.png" alt=""> <h3>Test Courses</h3> <p>Creating and managing your website is simple with WordPress.com’s powerful platform. Get started in minutes and make changes to your site easily.<p></li>
            <li class="aos-item" data-aos="flip-down" data-aos-duration="800"><img src="images/Facilitation-Guide-icon.png" alt=""> <h3>Test Courses</h3> <p>Creating and managing your website is simple with WordPress.com’s powerful platform. Get started in minutes and make changes to your site easily.<p></li>
            <li class="aos-item" data-aos="flip-down" data-aos-duration="800"><img src="images/Facilitation-Guide-icon.png" alt=""> <h3>Test Courses</h3> <p>Creating and managing your website is simple with WordPress.com’s powerful platform. Get started in minutes and make changes to your site easily.<p></li>
        </ul>
        <a href="#" title="More" class="coursesBtn aos-item" data-aos="fade-up">More &raquo;</a>
    </div>
</div>
<!-- End : Courses -->
<!-- Start : Footer -->
<div class="footerPan">
    <div id="main" role="main">
        <div class="footerInn aos-item" data-aos="fade-down" data-aos-duration="800">
            <h3>Company</h3>
            <ul>
                <li><a href="#" title="About">About</a></li>
                <li><a href="#" title="Affiliations">Affiliations</a></li>
                <li><a href="#" title="Press">Press</a></li>
                <li><a href="#" title="Awards">Awards</a></li>
                <li><a href="#" title="Team">Team</a></li>
                <li><a href="#" title="Advisory Board">Advisory Board</a></li>
                <li><a href="#" title="Contact">Contact</a></li>
                <li><a href="#" title="Partner">Partner</a></li>
                <li><a href="#" title="Become a Partner">Become a Partner</a></li>
                <li><a href="#" title="Find a Partner">Find a Partner</a></li>
                <li><a href="#" title="Register Partner Lead">Register Partner Lead</a></li>
            </ul>
        </div>

        <div class="footerInn aos-item" data-aos="fade-down" data-aos-duration="800">
            <h3>Product</h3>
            <ul>
                <li><a href="#" title=""></a></li>
                <li><a href="#" title="Integrations">Integrations</a></li>
                <li><a href="#" title="Pricing">Pricing</a></li>
                <li><a href="#" title="Product Release">Product Release</a></li>
                <li><a href="#" title="Roadmap">Roadmap</a></li>
                <li><a href="#" title="Customers">Customers</a></li>
                <li><a href="#" title="Testimonials">Testimonials</a></li>
                <li><a href="#" title="Start Free Trial">Start Free Trial</a></li>
                <li><a href="#" title="FAQ">FAQ</a></li>
                <li><span>Call us at: +91-9830027106</span></li>
            </ul>
        </div>

        <div class="footerInn footerInn2 aos-item" data-aos="fade-down" data-aos-duration="800">
            <h3>Resources</h3>
            <ul>
                <li><a href="#" title=""></a></li>
                <li><a href="#" title="Blog">Blog</a></li>
                <li><a href="#" title="Ebooks">Ebooks</a></li>
                <li><a href="#" title="Webinars">Webinars</a></li>
                <li><a href="#" title="Videos">Videos</a></li>
                <li><a href="#" title="Brand Assets">Brand Assets</a></li>
            </ul>
            <h3>Join Our Mailing List</h3>
            <div class="subscribeForm">
                <form action="#" name="">
                    <input type="text" value="Enter your email" class="subscribeInput">
                    <input type="button" value="Subscribe" class="subscribeButton">
                </form>
            </div>
        </div>


    </div>
</div>
<div class="footerBottom">
    <div id="main" role="main">
        <div class="footerBottomInn">
            <p>
                APPSeCONNECT is a product by <u>InSync</u>
                © 2017 InSync Tech-Fin Solutions Ltd. All rights reserved.<br>
                <a href="#" title="Terms of Use">Terms of Use</a> | <a href="#" title="Privacy Policy">Privacy Policy</a> | <a href="#" title="Disclaimer">Disclaimer</a>
            </p>
            <ul>
                <li><a href="#" title=""><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-youtube"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-pinterest-p"></i></a></li>
            </ul>
        </div>
    </div>
</div>