<div class="search-content__inner-wrap">
  <a href="#" title="close" class="closeSearch"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="searchTopGap"><input type="text" id="search" class="search-input" tabindex="-1" placeholder="{{ site.data.ui-text[site.locale].search_placeholder_text | default: 'Enter your search term...' }}" /></div>
  <div id="searchFound" class="searchDefaultBox">
      <img src="/assets/images/search-img.png" alt="" />
      <h3>Search your Term...</h3>
  </div>
  <div id="searchNotFound" class="searchDefaultBox hideBox">
      <img src="/assets/images/search-not-found.png" alt="" />
      <h3>No Results</h3>
      <p>We Searched far and wide and couldn't<br /> find any documents matching your search.</p>
  </div>
  <div id="results" class="results"></div>
</div>