{% comment %}
{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | absolute_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}
{% endcomment %}
1
{% for doc in site.posts[page.categories] %}

        <li>{{ doc.title }}</li>

{% endfor %}
2
{% for doc in site.posts[page.category] %}

        <li>{{ doc.title }}</li>

{% endfor %}
3
{% for doc in site.posts[post.categories] %}

        <li>{{ doc.title }}</li>

{% endfor %}
4
{% for doc in site.posts[post.category] %}

        <li>{{ doc.title }}</li>

{% endfor %}
5
{% for doc in site.posts[site.categories] %}

        <li>{{ doc.title }}</li>

{% endfor %}
6
{% for doc in site.posts[site.category] %}

        <li>{{ doc.title }}</li>

{% endfor %}

