<div class="learningPortalBan">
    <div class="learningPortalInn">
        <div class="learningPortalLeft">
            <h3>Divulge into the brand new way of Learning and Growing with Us!</h3>
            <p>Dedicated first-hand training to enrich your knowledge and gain a competitive edge.</p>
        </div>
        <div class="learningPortalRight">
            <a href="http://learning.appseconnect.com/login/" target="_blank" title="Start Learning">Start Learning &gt;</a>
        </div>
    </div>
</div>