<div class="AppseconnectDocText">
    <h2>
        {% if site.search == true %}
        <button class="search__toggle" type="button">
            <img src="../assets/images/home-search-img.png" />
        </button>
        {% endif %}
        <span>APPSeCONNECT Docs</span>
    </h2>
    <p>docs.appseconnect.com is the central hub of knowledge and information for APPSeCONNECT Documentation which is dedicated for end users, developers, partners and IT professionals. Feel free to check out our latest tutorials, e-Books, API references and code examples.</p>
</div>