/* ==========================================================================
   appseconnect skin
   ========================================================================== */

/* Colors */
$gray: #1d83c1 !default;
$dark-gray: mix(#000, $gray, 40%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$body-color: #fff !default;
$background-color: #f7f7f7 !default;
$code-background-color: $lighter-gray !default;
$code-background-color-dark: $light-gray !default;
$text-color: $dark-gray !default;
$border-color: $lighter-gray !default;

$primary-color: $gray !default;
$success-color: #27ae60 !default;
$warning-color: #e67e22 !default;
$danger-color: #c0392b !default;
$info-color: #03a9f4 !default;

/* links */
$link-color: $info-color !default;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 25%) !default;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: mix(#000, $primary-color, 25%) !default;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body.layout--single {font-family:'Open Sans', sans-serif;}
@media (min-width: 80em) {
body.layout--single .masthead__inner-wrap {max-width: 100%;}
body.layout--single .breadcrumbs {max-width: 100%;}
body.layout--single .breadcrumbs ol {padding-left: 0;}
body.layout--single #main {max-width: 100%; padding: 0; background: #fff; margin-top: 0;}
body.layout--single .sidebar__right {margin-top: -45px;}
body.layout--single .page {background: #f7f7f7; min-height: 700px; padding: 20px 320px 20px 20px; -webkit-box-shadow: inset 3px 0px 10px -2px rgba(0,0,0,0.69); -moz-box-shadow: inset 3px 0px 10px -2px rgba(0,0,0,0.69); box-shadow: inset 3px 0px 10px -2px rgba(0,0,0,0.69);}
body.layout--single .page__footer footer {max-width: 100%; padding: 20px; margin: 0;}
body.layout--single .search-content .archive__item { width: 100%; margin: 0;}
}
@media (min-width: 64em){
body.layout--single .breadcrumbs ol {float: left; width: 100%;}
body.layout--single .sidebar.sticky {opacity: 1; filter: alpha(opacity=100); /* For IE8 and earlier */ margin-left: 16px;}
body.layout--single .sticky {top:0;}
}
body.layout--single #site-nav.greedy-nav {background: #f9f9f9; -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.20); -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.20); box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.20);}
body.layout--single .greedy-nav a {padding: 0 0 3px;}
body.layout--single .breadcrumbs {background: #1d79b1; color:#bdd0de; border-bottom: 2px solid #285e80; border-top: 2px solid #285e80;}
body.layout--single .breadcrumbs ol {font-size: 14px;}
body.layout--single .breadcrumbs ol li, body.layout--single .breadcrumbs ol li a {color:#d2dfe8;}
body.layout--single .breadcrumbs .current {color: #ffffff;}
body.layout--single .search__toggle {border:0; border-bottom: 3px solid #1d79b1; padding: 7px 12px; color: #ffffff; background-color: #bfd2dc; margin: 0 20px 0 0;}
body.layout--single .page__content p, body.layout--single .page__content li, body.layout--single .page__content dl {font-size: 14px !important; line-height: 24px; color: #4c5152; font-family:'Open Sans', sans-serif;}
body.layout--single h1, body.layout--single h2, body.layout--single h3, body.layout--single h4 {color: #2a546d;}
body.layout--single  {color:#566267;}
body.layout--single .toc, body.layout--single .notice--info, body.layout--single div.highlighter-rouge pre.highlight, body.layout--single figure.highlight pre.highlight {background: #fff;}
body.layout--single .page__footer {background-color: #2b2e2f; color: #ffffff; margin-top: 0;}
body.layout--single .page__footer-copyright { text-align: center; font-size: 12px; color: #8d9398;}
body.layout--single .notice--warning {border-bottom: 0 solid #f45104; box-shadow: 0 1px 1px rgba(0,0,34,0.25); -moz-box-shadow: 0 1px 1px rgba(0,0,34,0.25); -webkit-box-shadow: 0 1px 1px rgba(0,0,34,0.25); background-color: #fff;}
body.layout--single a, body.layout--single a:visited, .notice--info a {color: #27799c;}
body.layout--single .notice--danger {border-bottom: 0 solid #c70a0a; box-shadow: 0 1px 1px rgba(0,0,34,0.25); -moz-box-shadow: 0 1px 1px rgba(0,0,34,0.25); -webkit-box-shadow: 0 1px 1px rgba(0,0,34,0.25); background-color: #fff;}
body.layout--single .toc .nav__title {background: #30373c;}
body.layout--single .page__related {margin-top: 0; padding: 20px; border-top: 0; background: #373f42; color: #fff;}
body.layout--single .page__related h4 {color: #aeb5b9; margin-bottom: 30px;}
body.layout--single .page__related a, body.layout--single .page__related h2 {background: #243135; padding: 10px; line-height: 40px; font-size: 15px; color: #7b8894; margin:0;}
body.layout--single .grid__item {margin-bottom: 1em;}
body.layout--single h1, body.layout--single h2, body.layout--single h3, body.layout--single h4,
body.layout--single h5, body.layout--single h6 {margin: 0.5em 0;}
body.layout--single figure {margin: 0.5em 0;}
body.layout--single figure img {margin: 0;}
body.layout--single .masthead {border-top: 6px solid #373f42;}
body.layout--single .search-content__inner-wrap .list__item {background: #fff; padding: 20px; margin: 0 0 20px; -webkit-box-shadow:inset 0px 0px 15px -1px rgba(0,0,0,0.30); -moz-box-shadow:inset 0px 0px 15px -1px rgba(0,0,0,0.30); box-shadow:inset 0px 0px 15px -1px rgba(0,0,0,0.30);}
body.layout--single .toc .nav__title {margin-top: 0;}
body.layout--single .sub-title {color: #1f79af; background: #cfeff7; padding-left: 10px;}
body.layout--single .notice--warning {position:relative; padding-left: 75px;}
body.layout--single .notice--warning strong {color: #13728c;}
body.layout--single .notice--warning:before {position:absolute; left:16px; top:50%; content:"\f071"; color:#b4c7cc; font-size:32px; transform: translate(0, -50%); font-family:"FontAwesome";}
body.layout--single .notice--warning:after {position:absolute; left:60px; top:50%; content:""; background:#e0eaec; width:3px; height:90%; transform: translate(0, -50%); font-size:30px; font-family:"FontAwesome";}
body.layout--single .notice--danger {position:relative; padding-left: 75px;}
body.layout--single .notice--danger:before {position:absolute; left:16px; top:50%; content:"\f05e"; color:#b4c7cc; font-size:32px; transform: translate(0, -50%); font-family:"FontAwesome";}
body.layout--single .notice--danger:after {position:absolute; left:60px; top:50%; content:""; background:#e0eaec; width:3px; height:90%; transform: translate(0, -50%); font-size:30px; font-family:"FontAwesome";}
body.layout--single .notice--info {position:relative; padding-left: 75px;}
body.layout--single .notice--info:before {position:absolute; left:16px; top:50%; content:"\f06a"; color:#b4c7cc; font-size:32px; transform: translate(0, -50%); font-family:"FontAwesome";}
body.layout--single .notice--info:after {position:absolute; left:60px; top:50%; content:""; background:#e0eaec; width:3px; height:90%; transform: translate(0, -50%); font-size:30px; font-family:"FontAwesome";}









