---
layout: inner
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<!-- Start : header -->
{% include header-block.html %}
<!-- End : header -->
<div class="progress progress-striped active globalprogressCustom" id="globalprogress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
        <span class="sr-only"> 40% Complete (success) </span>
    </div>
</div>
<div id="main" role="main">
    {% include sidebar.html %}

    <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
        {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}


        <div class="breadcrumbs">
            <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                {% assign crumbs = page.url | split: '/' %}
                {% assign i = 1 %}
                {% for crumb in crumbs offset: 1 %}
                {% if forloop.first %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="{{ site.url }}{{ site.baseurl }}/" itemprop="item"><span itemprop="name">{{ site.data.ui-text[site.locale].breadcrumb_home_label | default: "Home" }}</span></a>
                    <meta itemprop="position" content="{{ i }}" />
                </li>
                <li class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</li>
                {% endif %}
                {% if forloop.last %}
                <li class="current">{{ page.title }}</li>
                {% else %}
                {% assign i = i | plus: 1 %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="{{ crumb | downcase | replace: '%20', '-' | prepend: path_type | prepend: crumb_path }}" itemprop="item"><span itemprop="name">{{ crumb | replace: '-', ' ' | replace: '%20', ' ' | capitalize }}</span></a>
                    <meta itemprop="position" content="{{ i }}" />
                </li>
                <li class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>

        {% if page.deprecated %}
        <div class="alert alert-secondary" role="alert">
            {% if page.deprecated.url %}
            You are looking at an old and deprecated content. Please check <a href="{{ page.deprecated.url }}">{{page.deprecated.title}}</a> for latest updates.
            {% else %}
            {{page.deprecated | markdownify | remove: "<p>" | remove: "</p>" }}
            {% endif %}
        </div>
        {% endif %}

        <div class="page__inner-wrap">
            {% unless page.header.overlay_color or page.header.overlay_image %}
            <header>
                {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
                {% if site.tag_archive.type and page.tags[0] %}
                {% include tag-list.html %}
                {% endif %}
                {% if page.last_modified_at %}
                <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%B %d, %Y" }}</time></p>
                {% elsif page.date %}
                <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
                {% endif %}
                {% if page.read_time %}
                <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
                {% endif %}
                {% if site.github %}
                <span class="contributors-text">
                    Contributors
                </span>
                <ul>
                    {% for contributer in site.github.contributors %}
                    <li>
                        <a href="{{html_url}}"
                           title="{{name}}">
                            <img src="{{html_url}}.png?size=32"
                                 alt="{{name}}">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </header>
            {% endunless %}

            <section class="page__content" itemprop="text">
                {% if page.toc %}
                <aside class="sidebar__right">
                    <nav class="toc">
                        <header><h4 class="nav__title"><i class="fa fa-{{ page.toc_icon | default: 'file-text' }}"></i> {{ page.toc_label | default: "On this page" }}</h4></header>
                        {% include toc.html sanitize=true html=content h_min=2 h_max=3 class="toc__menu" %}
                    </nav>
                </aside>
                {% endif %}
                {{ content }}
                {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
            </section>

            <footer class="page__meta">
                {% if site.data.ui-text[site.locale].meta_label %}
                <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
                {% endif %}
                {% if page.last_modified_at %}
                <div class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%B %d, %Y" }}</time></div>
                {% elsif page.date %}
                <div class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></div>
                {% endif %}
                {% include page__taxonomy.html %}

            </footer>

            {% if page.share %}{% include social-share.html %}{% endif %}

            {% include post_pagination.html %}
        </div>

        {% assign relatedposts = 0 %}

        {% if page.id and page.related %}
        <div class="section-see-also">
            <h2 class="page__see-also">{{ site.data.ui-text[site.locale].related_label | default: "See Also" }}</h2>
            <div class="page-grid-seealso">
                <div class="sectionbody">
                    <div class="ulist">
                        <ul>
                            {% assign maxRelated = 5 %}
                            {% assign minCommonTags =  2 %}
                            {% assign maxRelatedCounter = 0 %}
                            {% for post in site.posts %}
                            {% assign sameTagCount = 0 %}
                            {% assign commonTags = '' %}

                            {% for tag in post.tags %}
                            {% if post.url != page.url %}
                            {% if page.tags contains tag %}
                            {% assign sameTagCount = sameTagCount | plus: 1 %}
                            {% capture tagmarkup %}
                            <span class="label label-default">{{ tag }}</span> {% endcapture %}
                            {% assign commonTags = commonTags | append: tagmarkup %}
                            {% endif %}
                            {% endif %}
                            {% endfor %}

                            {% if sameTagCount >= minCommonTags %}
                            <li>
                                <a href="{{ post.url }}" rel="permalink">
                                    <i class="fa fa-angle-double-right" aria-hidden="true" title="permalink"></i>
                                    {{ post.title }}
                                </a>
                            </li>
                            {% assign relatedposts = relatedposts | plus: 1 %}
                            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                            {% if maxRelatedCounter >= maxRelated %}
                            {% break %}
                            {% endif %}
                            {% endif %}

                            {% endfor %}
                            {% if relatedposts <= 4 %}
                            {% assign category = page.category %}
                            {% assign i = 0 %}
                            {% for post in site.posts %}
                            {% if post.id != page.id and post.category == category and i <= 4 %}
                            {% assign title = post.title %}
                            <li>
                                <a href="{{ post.url }}" rel="permalink">
                                    <i class="fa fa-angle-double-right" aria-hidden="true" title="permalink"></i>
                                    {{ title }}
                                </a>
                            </li>
                            {% assign i = i | plus: 1 %}
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% comment %}
        <!-- only show related on a post page when `related: true` -->
        {% endcomment %}


        {% if page.comments %}
        {% include comments.html %}
        {% endif %}
    </article>
</div>

